.header {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 999;
  .logo {
    margin-top: auto;
    margin-bottom: auto;
  }
  .navigation {
    .nav_links {
      list-style: none;
      background-color: hsl(0, 0%, 100%);
      display: flex;
      li {
        a {
          position: relative;
          text-decoration: none;
          margin-right: 2em;
          color: #bcbbc0;
          font-size: 0.9em;
          background-color: inherit;
          &::after {
            content: "";
            position: absolute;
            background-color: hsl(136, 65%, 51%);
            top: 2em;
            left: 0em;
            height: 0.2em;
            max-width: 100%;
            min-width: 3em;
            opacity: 0;
            transition: all 0.3s;
          }
          &:hover {
            color: rgb(39, 35, 35);
            transition: all 0.3s cubic-bezier(.17,.67,.61,1.12);
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  button {
    background: rgb(45, 193, 172);
    background: linear-gradient(
      90deg,
      rgba(45, 193, 172, 1) 5%,
      rgba(49, 208, 106, 0.9528186274509804) 35%,
      rgba(45, 186, 196, 1) 60%
    );
    border-radius: 4em;
    min-width: 12em;
    border: none;
    color: hsl(0, 0%, 100%);
    height: 3em;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgb(131, 218, 203);
      background: linear-gradient(
        90deg,
        rgb(94, 207, 190) 5%,
        rgba(88, 168, 120, 0.953) 35%,
        rgb(29, 159, 168) 60%
      );
    }
  }
  @media only screen and (max-device-width: 1440px) {
    /* Styles */
  }
}
